<h2>Listagem de tarefas</h2>

<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Tarefa</th>
            <th>Descrição</th>
            <th>Status</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tasks of tarefas">
            <td> {{ tasks.tarefaId }} </td>
            <td> {{ tasks.titulo }} </td>
            <td> {{ tasks.descricao }} </td>
            <td> {{ tasks.status}} </td>
            <td> <button (click)="alterar()">Modificar</button> </td>
        </tr>
    </tbody>
</table>